
<%= "Player1 => #{@game.player1.name} and Player2 => #{@game.player2.name}" %>

<%= "#{@game.player1.name}: #{@game.player1.hp} HP" %>

<%= "#{@game.player2.name}: #{@game.player2.hp} HP" %>


<form action="/attack">
  <input type= "submit" value = "attack">
</form>