
<%= "Player1 => #{@player1} and Player2 => #{@player2}" %>

<%= "#{@player1}: #{@player1_hp} HP" %>

<%= "#{@player2}: #{@player2_hp} HP" %>


<form action="/attack">
  <input type= "submit" value = "attack">
</form>